{% extends 'base.html' %}

{% block header %}
          <form method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-inline-block" role="search">
          {{ search_form.query(class_="form-control form-control", size=22) }}
        </form>
{% endblock %}

{% block content %}
   {% if g.user %}
       <div class="row narrow_form mx-auto">
        <div class="col">
  <form action="{{ url_for('sample.makelabels', search_query=search_query if not None) }}" method="post">
    <input class="danger" type="submit" class="btn btn_secondary" value="Make Labels" onclick="return confirm('Are you sure?');">
  </form>
        </div>
         <div class="col">
  <form action="{{ url_for('sample.make_csv', search_query=search_query if not None) }}" method="post">
    <input class="danger" type="submit" class="btn btn_secondary" value="Make CSV">
  </form>
         </div>
       </div>

    <h2 class="mb-3">Sample List
    {% if search_query is not none %}
        - {{ search_query }}
    {% endif %}
    </h2>
    {% for item in items %}
    <article class="item">
    <div class="row">
        <div class="col-sm-1">
            <a href="{{ url_for('sample.single', id=item['id']) }}">{{ item['title'] }}
              {%  if item['isprimary'] == 'Primary' %} Primary{% endif %}
              {% if item['isprimary'] == 'Backup' %} Backup{% endif %}
            {% if item['isprimary'] == 'Unneeded' %} Unneeded{% endif %}</a>
        </div>
        <div class="col-sm-1">
            {{ item['comment'] }}
        </div>
        <div class="col-sm-1">
            {{ item['date'].strftime("%Y%m%d") }}
        </div>
        <div class="col-sm-1">
            {{ item['initials'] }}
        </div>
        <div class="col-sm-2">
            {{ item['note_body'] }}<br />
            {{ (item['note_date']|string)[:10] }}{{ item['note_initials'] }}        </div>
        <div class="col-sm-2">
            {{ item['body'] }}<br />

        </div>
            <div class="col-sm-2">
            {{ item['full_id'] }}
        </div>
        <div class="col-sm-1">
            {% if g.user['id'] == item['author_id'] %}
                  <a class="action" href="{{ url_for('sample.update', id=item['id']) }}">Edit</a>
            {% endif %}
        </div>
    </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

     {% else %}
        <p>You need to log-in before seeing this content</p>
    <form action="{{ url_for('auth.login') }}" method="post" class="mx-auto" style="max-width: 330px; padding: 15px;">
{#    <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">#}
        <h1 class="h3 mb-3 fw-normal">Please login</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
      </form>
    {% endif %}

{% endblock %}