<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Samples{% endblock %}</h1>
{% endblock %}
{% block content %}

    <h3>
  Search Contacts
  <span class="htmx-indicator">
    <img src="{{ url_for('static', filename='bars.svg') }}" /> Searching...
   </span>
</h3>
<input class="form-control" type="search"
       name="search" placeholder="Begin Typing To Search Users..."
       hx-post="/search"
       hx-trigger="keyup changed delay:500ms, search"
       hx-target="#search-results"
       hx-indicator=".htmx-indicator">

  {% for item in items %}
 <article class="item">
    <div class="row">
        <div class="col-sm-1">`
            <a href="{{ url_for('sample.single', id=item['id']) }}">{{ item['title'] }}</a>
        </div>
        <div class="col-sm-1">
            {{ item['comment'] }}
        </div>
        <div class="col-sm-1">
            {{ item['date'].strftime("%Y%m%d") }}
        </div>
        <div class="col-sm-1">
            {{ item['initials'] }}
        </div>
        <div class="col-sm-2">
            {{ item['email'] }} on {{ item['created'].strftime('%Y-%m-%d') }}
        </div>
        <div class="col-sm-2">
            {{ item['body'] }}
        </div>
            <div class="col-sm-2">
            {{ item['note_body'] }}<br>
             {{ item['note_lab_id'] }}{{ item['note_date']}} {{ item['note_initials'] }}
        </div>
        <div class="col-sm-1">
            {% if g.user['id'] == item['author_id'] %}
                  <a class="action" href="{{ url_for('sample.update', id=item['id']) }}">Edit</a>
            {% endif %}
        </div>
    </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
{% endblock %}